<launch>
    <!-- navigation -->
    <include file="$(find navigation)/launch/navigation.launch" />
    <node name="gyroscope" pkg="running" type="gyroscope" />
    
    <!-- gimbal -->
    <node name="gimbal" pkg="vision" type="gimbal.py" output="screen" args="blue" />

    <!-- main -->
    <!-- <node name="ai" pkg="running" type="run.py" output="screen" args="blue" /> -->
</launch>