<launch>

    <!-- Map server -->
    <include file="$(find navigation)/launch/map.launch" />

    <!-- Lidar -->
    <include file="$(find navigation)/launch/lidar.launch" />

    <!-- Start the robot -->
    <include file="$(find roborts_base)/launch/base.launch" />

    <!-- Run location algorithm -->
    <include file="$(find navigation)/launch/amcl.launch" />

    <!-- Run path planning algorithm -->
    <include file="$(find navigation)/launch/planning.launch" />

    <!-- Show Rviz -->
    <node name="rviz" pkg="rviz" type="rviz"
     args="-d $(find navigation)/rviz/rviz.rviz" />
    <node name="ctrl" pkg="navigation" type="mouse.py" />

</launch>